<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image List</title>
  <style>
    .image-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .image-item {
      text-align: center;
    }

    .image-item img {
      width: 1012px;
      height: 219px;
      object-fit: cover;
    }

    .image-item p {
      margin-top: 10px;
      font-size: 1em;
      color: #333;
    }
  </style>
</head>

<body>
  <h1>Image List</h1>
  <div class="image-list">
    <% for (let i=0; i < images.length; i++) { %>
      <div class="image-item">
        <img src="<%= images[i] %>" alt="<%= images[i].alt %>">
        <br>
        <a target="_blank"
          href="https://count-viewer.vercel.app/api/github/banner?user=theanishtar&background=<%= i %>&tech=vue">
          https://count-viewer.vercel.app/api/github/banner?user=theanishtar&background=<%= i %>&tech=vue
        </a>
      </div>
      <% } %>
  </div>
</body>

</html>